/*parabugs5*/

body{

    /*background: url("Backgrounds/0.jpg");*/
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    user-select: none;
    font-family: 'Work Sans', sans-serif;

}

.icons{

    position: absolute;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    top: 0px;
    bottom: 200px;
    width: min-content;
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;

}

.desktopicon{

    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s;
    display: block;
    margin-bottom: 14px;
    margin-right: 14px;

}

.desktopicon:hover{

    opacity: 0.3;
    cursor: hand;

}

.desktopicon:focus{

    opacity: 0.4;
    cursor: hand;
    border: 2px solid rgba(0, 0, 0, 0.486);

}

.settings{

    background: url(icons/settings.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.images{

    background: url(icons/images.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.calculator{

    background: url(icons/calculator.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.calendar{

    background: url(icons/calendar.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.camera{

    background: url(icons/camera.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.contacts{

    background: url(icons/contacts.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.email{

    background: url(icons/email.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.notes{

    background: url(icons/notes.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.translator{

    background: url(icons/language-translator.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.docs{

    background: url(icons/docs.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hangouts{

    background: url(icons/hangouts.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.terminal{

    background: url(icons/terminal.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.brython{

    background: url(icons/brython.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.beepbox{

    background: url(icons/beepbox.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.navigator{

    background: url(icons/navigator.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.addcstm{

    background: url(icons/addcustom.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;

}

.customicon{

    background: url(icons/blankicon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}

.customicon img{

    width: 30px;

}

.widgets_cdsk{

    position: absolute;
    left: 30px;
    bottom: 50px;

}

.google_widget{
    
    width: 400px;
    height: 130px;
    background: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(3px);
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
    vertical-align: middle;
    box-shadow: 0px 5px 8px #00000049;

}

.google_widget img{
    
    width: 80px;
    vertical-align: middle;
    justify-content: center;
    margin-left: 5px;

}

.google_widget h2{
    
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.61);

}

.googleinp{

    padding: 14px;
    border: 2px solid transparent;
    outline: none;
    background: rgba(0, 0, 0, 0.295);
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    transition: 0.3s;
    font-size: 15px;
    width: 300px;
    box-shadow: 0px 5px 8px #00000023;
    color: white;

}

.googleinp:hover{

    background: rgb(34, 34, 34);

}

.googlego{
    
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid transparent;
    background: rgb(0, 119, 255);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
    box-shadow: 0px 5px 8px #00000023;

}

.googlego:hover{
    
    background: rgb(0, 79, 226);
    cursor: hand;

}





.window{

    width: 1280px;
    height: 720px;
    box-shadow: 0px 5px 8px #00000049;
    background: white;
    border-radius: 20px;
    border: 2px solid transparent;
    position: absolute;
    padding: 0px;
    overflow: hidden;
    display: none;
    top: 47;
    left: 160;
    z-index: 100;

}

.windowheader{

    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 45px;
    overflow: hidden;

}

.windowheader:hover{

    cursor: all-scroll;

}

.crossclose{

    position: absolute;
    width: 35px;
    height: 35px;
    right: 5px;
    top: 5px;
    border: 2px solid transparent;
    background-color: rgb(255, 78, 78);
    transition: 0.3s;
    border-radius: 45px;

}

.crossclose:hover{

    background-color: rgb(255, 122, 122);
    cursor: hand;

}

.crossclose img{
    
    width: 20px;

}

.windowcontent{

    position: absolute;
    top: 45px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border: 2px solid transparent;

}

.windowcontentcontened{

    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 2px solid transparent;

}










.contextmen{

    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    background: white;
    left: 0px;
    top: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.contextmen .cmenbutt{

    width: 190px;
    height: 40px;
    background: white;
    border: 0px solid transparent;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    outline: none;
    transition: 0.3s;
    color: rgb(29, 29, 29);

}

.contextmen .cmenbutt:hover{

    background: rgb(255, 77, 77);
    color: white;
    cursor: hand;

}








@keyframes titlefirstwlcm {
    
    from {
        
        transform: rotate(0deg);
        width: 600px;
        opacity: 0;
    
    }
    to {
        
        transform: rotate(360deg);
        width: 300px;
        opacity: 1;
    
    }
}

@keyframes iconsfirstwlcm {
    
    from {
        
        transform: rotate(0deg);
        opacity: 0;
    
    }
    to {
        
        transform: rotate(-360deg);
        opacity: 1;
    
    }
}

.firstopenwelcome{

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 140, 255, 0.849);
    backdrop-filter: blur(6px);
    z-index: 1000;
    transition: 0.3s;

}

.firstopncontent{

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;

}

.firstlogo{

    width: 300px;
    margin-bottom: 30px;
    animation-name: titlefirstwlcm;
    animation-duration: 1s;

}

.firstappicons{

    width: 120px;
    animation-name: iconsfirstwlcm;
    animation-duration: 1s;

}

.eslogan{

    margin-top: 30px;
    color: white;
    opacity: 0.7;
    font-size: 20px;

}

.undeslogantext{

    margin-top: 30px;
    color: white;
    font-size: 30px;

}

.firstopenwelcomebutton{

    background: white;
    border: 2px solid transparent;
    padding: 20px;
    font-size: 20px;
    border-radius: 200px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(0, 71, 129);
    outline: none;
    transition: 0.2s;

}

.firstopenwelcomebutton:hover{

    background: rgb(0, 140, 255);
    color: rgb(255, 255, 255);
    cursor: hand;

}

#getstartedbutton{

    margin-top: 40px;

}

#continueslbutton{

    margin-top: 40px;

}

.bgpresentat{

    width: 300px;
    border: 0px solid transparent;
    border-radius: 40px;
    box-shadow: 0px 5px 8px #00000044;
    outline: none;
    margin-top: 33px;
    animation-name: iconsfirstwlcm;
    animation-duration: 1s;

}

.iconspresentat{

    width: 600px;
    border: 0px solid transparent;
    border-radius: 40px;
    box-shadow: 0px 5px 8px #00000044;
    outline: none;
    margin-top: 33px;
    animation-name: iconsfirstwlcm;
    animation-duration: 1s;

}













@keyframes rotationofcircle {
    
    from {
        
        transform: rotate(0deg);
    
    }
    to {
        
        transform: rotate(360deg);
    
    }
}

@keyframes dissapear {
    
    0%{

        opacity: 1;

    }

    70%{

        opacity: 1;

    }
    
    100%{
        
        opacity: 0;
    
    }
}

.loadingscreen{

    z-index: 2000;
    background: rgba(35, 56, 114, 0.685);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0px;
    top: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation-name: dissapear;
    animation-duration: 2s;
    pointer-events: none;

}

.loadingscreencontent{

    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;

}

.logolodd{

    width: 500px;

}

.loadingcircle{

    width: 100px;
    margin-top: 30px;
    animation-name: rotationofcircle;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;

}