body{

    background: url(olen-gandy-fTq8_cQ9gzI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    user-select: none;

}

.icons{

    margin-left: 30px;
    margin-top: 50px;

}

.desktopicon{

    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 14px;
    margin-right: 14px;

}

.desktopicon:hover{

    opacity: 0.7;
    cursor: hand;

}

.desktopicon:focus{

    opacity: 0.4;
    cursor: hand;
    border: 2px solid rgba(0, 0, 0, 0.486);

}

#settings{

    background: url(icons/settings.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#images{

    background: url(icons/images.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#calculator{

    background: url(icons/calculator.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#calendar{

    background: url(icons/calendar.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#camera{

    background: url(icons/camera.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#contacts{

    background: url(icons/contacts.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#email{

    background: url(icons/email.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#notes{

    background: url(icons/notes.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#translator{

    background: url(icons/language-translator.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#docs{

    background: url(icons/docs.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#hangouts{

    background: url(icons/hangouts.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}








.window{

    width: 1280px;
    height: 720px;
    box-shadow: 0px 5px 8px #00000049;
    background: white;
    border-radius: 20px;
    border: 2px solid transparent;
    position: absolute;
    padding: 0px;
    overflow: hidden;
    display: none;

}

.windowheader{

    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 45px;
    overflow: hidden;
    box-shadow: 0px 2px 4px #0000001e;

}

.windowheader:hover{

    cursor: all-scroll;

}

.crossclose{

    position: absolute;
    width: 45px;
    height: 45px;
    right: 0px;
    border: 2px solid transparent;
    background-color: rgb(255, 78, 78);
    transition: 0.3s;

}

.crossclose:hover{

    background-color: rgb(255, 122, 122);
    cursor: hand;

}

.crossclose img{
    
    width: 25px;

}

.windowcontent{

    position: absolute;
    width: 100%;
    height: 95%;
    border: 2px solid transparent;

}